<a href="{{ "/" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Home</h2></a>
<a href="{{ "/archive" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Archive</h2></a>
<a href="https://www.youtube.com/channel/UCSkw_Zyna8FXLcylsMm0DQA"><h2 class="header-link">YouTube</h2></a>
<a href="{{ "/about" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">About</h2></a>
<a href="{{ "/atom.xml" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">RSS</h2></a>
<hr />
<p>This <a href="https://www.youtube.com/watch?v=n6wEbfZs4rQ">hidden entrance</a> to my cellar is what started it all. I now have a purpose for that...</p>
